src/node_modules
src/vendor
src/.env
src/.git
src/.gitignore
src/storage/logs/*
src/storage/framework/cache/*
src/storage/framework/sessions/*
src/storage/framework/views/*
src/public/storage
.DS_Store
*.log
*.cache
.idea
.vscode
